---
import Layout from "../layouts/Layout.astro";
    
---

<Layout title="Sobre nosotros">
    <section>
        <div class="container w-50 m-auto text-center" id="equipo">
            <h1 class="mb-5 fs-2">Equipo pequeño con <span class="text-primary">resultados Grandes</span>.</h1>
            <p class="fs-4 ">Siempre buscamos las personas adecuadas para que trabajen con nosotros. Si te sientes listo para este reto, te esperamos para que te unas a nosotros.</p>
        </div>
    
        <div class="mt-5 text-center">
            <img id="img-equipo" src="./img/equipo.jpg" alt="equipo">
        </div>
    </section>
</Layout>