---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Contacto">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">¡Contáctanos y déjanos saber cómo podemos ayudarte!</h1>
                <p class="col-lg-10 fs-4">Estamos aquí para responder cualquier pregunta que puedas tener. ¡No dudes en ponerte en contacto con nosotros!</p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingName" placeholder="Nombre">
                        <label for="floatingName">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
                        <label for="floatingEmail">Dirección de email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="floatingMessage" placeholder="Mensaje" style="height: 100px;"></textarea>
                        <label for="floatingMessage">Mensaje</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar mensaje</button>
                    <hr class="my-4">
                    <small class="text-body-secondary">Al enviar este formulario, aceptas nuestra política de privacidad.</small>
                </form>
            </div>
        </div>
    </div>
</Layout>
