---
import Layout from "../layouts/Layout.astro"
import CardForm from "../components/CardForm.astro"

const steps = [
        {
            question: "¿Como vas a viajar?",
            options: [
                { label: "Solo", backgroundImage: "assets/img/card/solo-bg.jpg" },
                { label: "Con amigos", backgroundImage: "assets/img/card/amigos-bg.jpg" },
                { label: "En pareja", backgroundImage: "assets/img/card/pareja-bg.jpg" },
                { label: "En familia", backgroundImage: "assets/img/card/familia-bg.jpg" }
            ]
        },
        {
            question: "¿Que te gusta más?",
            options: [
                { label: "Mar", backgroundImage: "assets/img/card/mar-bg.jpg" },
                { label: "Montaña", backgroundImage: "assets/img/card/montaña-bg.jpg" },
                { label: "Ciudad", backgroundImage: "assets/img/card/ciudad-bg.jpg" },
                { label: "Rural", backgroundImage: "assets/img/card/rural-bg.jpg" }
            ]
        },
        {
            question: "¿Cuánto tiempo planeas viajar?",
            options: [
                { label: "Fin de semana", backgroundImage: "assets/img/card/time-bg.jpg" },
                { label: "1 semana", backgroundImage: "assets/img/card/time-bg.jpg" },
                { label: "2 semanas o más", backgroundImage: "assets/img/card/time-bg.jpg" }
            ]
        },
        {
            question: "¿Qué tipo de alojamiento prefieres?",
            options: [
                { label: "Hotel", backgroundImage: "assets/img/card/hotel-bg.jpg" },
                { label: "Cabaña", backgroundImage: "assets/img/card/cabaña-bg.jpg" },
                { label: "Apartamento", backgroundImage: "assets/img/card/apartment-bg.jpg" },
                { label: "Camping", backgroundImage: "assets/img/card/camping-bg.jpg" }
            ]
        },
        {
            question: "¿Qué presupuesto tienes?",
            options: [
                { label: "Menos de 50€ por noche", backgroundImage: "assets/img/card/money-bg.jpg" },
                { label: "50€ - 100€ por noche", backgroundImage: "assets/img/card/money-bg.jpg" },
                { label: "100€ - 200€ por noche", backgroundImage: "assets/img/card/money-bg.jpg" },
                { label: "Más de 200€ por noche", backgroundImage: "assets/img/card/money-bg.jpg" }
            ]
        }        
        // Agregar más pasos según sea necesario
    ];
---
<Layout title="Explora">
    <div class="container px-4 py-5" id="custom-cards">
        {steps.map((step)=> 
            <h2 class="pb-2">{step.question}</h2>
            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                {step.options.map((option)=>
                    <CardForm 
                    option={option.label}
                    backgroundImage={option.backgroundImage}
                />
                )}
            </div>
        )}
    </div>
    
    <div class="d-flex gap-2 justify-content-center py-5">
        <button class="btn btn-primary d-inline-flex align-items-center" type="button">
            Siguiente
            <svg class="bi ms-1" width="20" height="20">
                <use xlink:href="#arrow-right-short"/>
            </svg>
        </button>
    </div>
</Layout>

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="arrow-right-short" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
    </symbol>
    <symbol id="x-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
      <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
    </symbol>
  </svg>