---
import Layout from "../layouts/Layout.astro";
import '../styles/register-login.css';
---
<Layout title="Registro">
    <main class="form-signin d-flex justify-content-center align-items-center">
        <form class="text-center">
            <img class="mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Create an account</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="floatingName" placeholder="Your Name">
                <label for="floatingName">Your Name</label>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
                <label for="floatingEmail">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
        </form>
    </main>
</Layout>
