---
const socialIcons = [
  { icon: "bi-facebook", link: "https://www.facebook.com/?locale=ca_ES" },
  { icon: "bi-twitter", link: "https://twitter.com/?lang=ca" },
  { icon: "bi-instagram", link: "https://www.instagram.com/" },
];
---
<footer class="footer bg-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-start">
        <p class="fs-5 mb-0">Travel Roulette. &copy; Todos Los Derechos Reservados 2024</p>
      </div>
      <div class="col-md-6 text-center text-md-end">
        <div id="iconos">
          {socialIcons.map((socialIcon) => (
            <a href={socialIcon.link} class="text-dark me-3">
              <i class={`bi ${socialIcon.icon}`}></i>
              </a>
              ))}
        </div>
        <a href="/accesibility" class="text-dark me-3">
          <i class="bi bi-shield"></i> Accesibilidad
        </a>
      </div>
    </div>
  </div>
</footer>
