---
const socialIcons = [
  { icon: "bi-facebook", link: "https://www.facebook.com/?locale=ca_ES" },
  { icon: "bi-twitter", link: "https://twitter.com/?lang=ca" },
  { icon: "bi-instagram", link: "https://www.instagram.com/" },
];
---

<footer class="w-100 d-flex align-items-center justify-content-center flex-wrap bg-white">
  <p class="fs-5 px-3 pt-3">Travel Roulette. &copy; Todos Los Derechos Reservados 2024</p>
  
  <div id="iconos">
    {socialIcons.map((socialIcon) => (
      <a href={socialIcon.link} class="text-dark me-3">
        <i class={`bi ${socialIcon.icon}`}></i>
      </a>
    ))}
  </div>
</footer>
