---

---
<div class="container">
    <header class="d-flex fixed-top flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg width="40" height="32" xmlns="http://www.w3.org/2000/svg">
                <!-- Aquí coloca el código de tu propio icono SVG -->
                <path fill="#000000" d="M10 0h4v32h-4zM24 0h4v32h-4"/>
             </svg>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Inicio</a></li>
        <li><a href="#" class="nav-link px-2">Descubre</a></li>
        <li><a href="/about" class="nav-link px-2">Sobre nosotros</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Inicia Sesión</button>
        <button type="button" class="btn btn-primary">Registrate</button>
      </div>
    </header>
  </div>