---
  const navData = [
  { text: 'Mapa del sitio', href: '/sitemap' },
  { text: 'Inicio', href: '/' },
  { text: 'Acerca de', href: '/about' },
  { text: 'Contacto', href: '/contact' },
  { text: 'Explora', href: '/explora' }
];


//Cambiar lógica
const isLoggedIn = false;
const userName = "Sergio"; 
---
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="../assets/img/logo.png" alt="Logo Travel Roulette" title="Logo Travel Roulette" width="40" height="32">
      <span>Travel Roulette</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        {navData.map((link) => (
          <li class="nav-item">
            <a href={link.href} class="nav-link">{link.text}</a>
          </li>
        ))}
      </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscador" aria-label="Search">
          </form>
        </li>
        {isLoggedIn ? (
          <li class="nav-item">
            <p class="nav-link mb-0">Hola, {userName}</p>
          </li>
        ) : (
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-person"></i> Iniciar Sesión
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="/register">Regístrate</a></li>
            </ul>
          </li>
        )}
      </ul>
    </div>
  </div>
</nav>


<script>
  // Función para normalizar una URL
function normalizeUrl(url) {
  // Remover la barra diagonal al final de la URL, si existe
  return url.endsWith("/") ? url.slice(0, -1) : url;
}

// Obtener la URL actual
const currentUrl = normalizeUrl(window.location.pathname);

// Obtener todos los elementos de enlace de la barra de navegación
const navLinks = document.querySelectorAll('.nav-link');

// Iterar sobre los enlaces y comparar la URL actual con sus enlaces
navLinks.forEach(link => {
  // Obtener la URL del enlace y normalizarla
  const linkUrl = normalizeUrl(link.getAttribute('href'));
  
  // Comparar la URL actual con la URL del enlace
  if (linkUrl === currentUrl) {
    // Si son iguales, añadir la clase 'active' al enlace
    link.classList.add('active');
  }
});
</script>


<style>
  /* Estilos para el enlace activo */
  .navbar-nav .nav-link.active {
    font-weight: bold; /* Hace que el texto del enlace activo sea más grueso */
    color: #007bff; /* Cambia el color del texto del enlace activo */
  }
  
  </style>